

.application.json

# npm libraries
node_modules/

# typescript artifacts
/opt/
dist/

# aws build artifacts
/.aws-sam/

# functional code
/layers/**/*.js
/src/**/*.js
/tests/**/*.js

# ide configurations
*.iml
/.vscode/